# ----------------------------
# Python
# ----------------------------
__pycache__/
*.pyc
*.pyo
*.pyd
*.pdb
*.core

# Virtual environment
.venv312/
.venv/
venv/
env/

# ----------------------------
# Project-specific folders
# ----------------------------

logs/
models/
notebooks/__pycache__/

# ----------------------------
# Environment files (NEVER commit secrets)
# ----------------------------
.env
.env.*

# ----------------------------
# VS Code & Editor
# ----------------------------
.vscode/
*.code-workspace

# ----------------------------
# OS-specific files
# ----------------------------
.DS_Store
Thumbs.db

# ----------------------------
# Docker
# ----------------------------
*.pid
*.seed
*.log


notebooks/current/master_features.parquet
notebooks/current/master_labeled.csv
notebooks/current/master_labeled.parquet
notebooks/current/nifty_data_norm_oi.csv
notebooks/gemini/nifty_data_norm_oi.csv
notebooks/master_labeled.parquet
notebooks/nifty_data/master_labeled.parquet
notebooks/nifty_data_norm_oi - Copy.csv
notebooks/nifty_data_norm_oi.csv
data/master_features.parquet
data/master_labeled.csv
data/master_labeled.parquet